#ifndef __XTABLES_{{ name.upper() }}_H_
#define __XTABLES_{{ name.upper() }}_H_ 1

struct xt_{{ name.lower() }}_mtinfo {
	uint16_t flags;
	uint16_t invflags;
};

#endif        /* __XTABLES_{{ name.upper() }}_H_ */